
    <div class="container">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
        <div class="container">
          <h1>Cocktails</h1>
          <a class="btn btn-flat" href="#">New Cocktail</a>
        </div>
      </div>

      <div class="cards-grid">
      <% @cocktails.each do |cocktail| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      <% end %>
      </div>
    </div>
